.ope{
    border-radius: 100px;
}
.epo{
    width: 45px;
}
.top{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.548);
}
.sos{
    height: 3cm;
    width: 12cm;
}
.pop{
    height: 1cm;
    width: 7cm;
}
.one{
    font-size: 35px;
    padding-left: 50px;
}
.font{
    font-family: 'Times New Roman', Times, serif;
    
}
.two{
    font-size:25px;
    padding-left: 240px;
}
.sss{
    font-size: 70px;
}
.sso{
    width: 50%;
    height: 250px;
}
.lor{
    color: rgba(0, 0, 0, 0.548);
}
.hope{
    color: rgba(0, 0, 0, 0.712);
    font-size: 30px;
}
.ty{
    /* position: fixed; */
}
.bor{
    border-radius: 100px;
    border-color: gainsboro;
    }
    .bose{
        margin-top: -35px;
        margin-left: 60px;
        font-size: 15px;
        /* font-weight: 500; */
        color: rgba(0, 0, 0, 0.589);
    }
    .closet{ margin-top: -20px;
        margin-left: 90px;

    }
    .kene{
        margin-left: 165px;
        margin-top: -38px;
        color: rgba(0, 0, 255, 0.685);
    }
.oooo{
    margin-top: 30px;
    margin-left: 60px;
}
.bo{
    margin-top: 50px;
}
.bess{
    justify-content: space-around;
}
.bug{
    margin: 0;
    padding: 0;
    position: fixed;
}